{
    "tabWidth": 4,
    "formatOnSave": true,
    "bracketSameLine": true,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.wxml",
            "options": { "parser": "html" }
        },
        {
            "files": "*.wxss",
            "options": { "parser": "css" }
        },
        {
            "files": "*.wxs",
            "options": { "parser": "babel" }
        }
    ]
}
